mixin video(video)
  a(href=`/videos/${video.id}`).video-mixin
    div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});`)
    div.video-mixin__data
      span.video-mixin__title=video.title
      div.video-mixin__meta
          div.video-mixin__meta-userbox
            if !video.owner.avatarUrl
              img(src='./uploads/avatars/avatar.jpg').video-mixin__meta-avatar
            else
              img(src=`${video.owner.avatarUrl}`).video-mixin__meta-avatar
            span.video-mixin__meta-username #{video.owner.username}ㆍ 
            span #{video.meta.views} views
      