extends base.pug

block content
  //- 'data- attribute'를 추가하여 videoPlayer가 video의 id를 알 수 있도록 함
  div#videoContainer(data-Id=video._id) 
    video(src='/' + video.fileUrl)
    div#videoControls.videoControls
      div.videoControls__play
        span#play.videoControls__playBtn
          i.fa-solid.fa-play
        div.videoControls__time 
          span#currentTime 00:00:00
          span  / 
          span#totalTime 00:00:00
      input(type='range',step='1', value=0, min='0')#timeline.videoControls__timeline
      div.videoControls__volume
        input(type='range',step='0.1', value=0.5, min='0', max='1')#volume
        span#mute
          i.fa-solid.fa-volume-high
      div
        span#fullScreen 
          i.fa-solid.fa-expand
  div.video__underbox
    div.video__data
      p.video__title=video.title
      small.video__owner Uploaded by 
        a(href=`/users/${video.owner._id}`)
          if !video.owner.avatarUrl
            img(src='./uploads/avatars/avatar.jpg').video__owner-avatar
          else
            img(src=`${video.owner.avatarUrl}`).video__owner-avatar
          span=video.owner.username
      small.video__createdAt=new Date(video.createdAt).toLocaleDateString("en-US", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    if String(video.owner._id) === String(loggedInUser._id)
      div.video__btns
        a(href=`${video.id}/edit`).video__btn Edit
        a(href=`${video.id}/delete`).video__btn Delete
    
  hr

  if loggedIn
    div.video__comments
      div.video__comment-userbox
        img(src=`${loggedInUser.avatarUrl}`).video__comment-avatar
        span #{loggedInUser.username}
      form.video__comment-form#commentForm
        textarea#textarea(cols='30', rows='5', maxlength="800" placeholder='Write a comment' required)
        button.video__comments-btn Comment
  div.video__comments 
    ul 
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment._id)
          div.video__comment-userbox
            if !comment.owner.avatarUrl
              img(src='./uploads/avatars/avatar.jpg').video__comment-avatar
            else 
              img(src=`${comment.owner.avatarUrl}`).video__comment-avatar
            span #{comment.owner.username}
          span  #{comment.text}
          if loggedInUser._id == comment.owner._id
            span.video__comment-delete-btn  delete

block scripts
    script(src="/static/js/videoPlayer.js") 
    script(src="/static/js/commentSection.js") 